<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .pare1{
            background-color: aqua;
            

        }
        
        .pare2{
            background-color: #6459cc;

        }
        
        .pare3{
            background-color: #fffb00;

        }
        @media  all and (min-width:801px){
            .container p{
                width: 30%;
                float:left ;
                padding: 10px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <p class="pare1">  

            10 Lines on Importance of Trees – Set 1
            Trees give us fresh air to breathe.
            They offer shade on sunny days.
            Trees are homes for many animals.
            They give us tasty fruits to eat.
            Trees help to keep our earth cool.
            They stop soil from washing away.
            Trees can make places look pretty.
            Many trees provide wood for building.
            Trees help in cleaning the air.
            They bring rain clouds to us.
             </p>
             <p class="pare2"> 

                10 Lines on Importance of Trees – Set 1
                Trees give us fresh air to breathe.
                They offer shade on sunny days.
                Trees are homes for many animals.
                They give us tasty fruits to eat.
                Trees help to keep our earth cool.
                They stop soil from washing away.
                Trees can make places look pretty.
                Many trees provide wood for building.
                Trees help in cleaning the air.
                They bring rain clouds to us.
             </p>
             <p class="pare3"> 

                10 Lines on Importance of Trees – Set 1
                Trees give us fresh air to breathe.
                They offer shade on sunny days.
                Trees are homes for many animals.
                They give us tasty fruits to eat.
                Trees help to keep our earth cool.
                They stop soil from washing away.
                Trees can make places look pretty.
                Many trees provide wood for building.
                Trees help in cleaning the air.
                They bring rain clouds to us.
                 </p>
    </div>
</body>
</html>