<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .bluebox{
            background-color:steelblue ;
            width: 300px;
            height: 300px;
            margin-top: 50px;
            position:relative;
            top: 0px;
        }
        .yellowbox{
            width: 100px;
            height: 100px;
            background-color: yellow;
            position: absolute;
            left: 100px;
            top: 150px;
           

        }

    </style>
</head>
<body>
    <div class="bluebox"></div>
    <div class="yellowbox"></div>

    <div>
        <h2>Logic First</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde ea saepe magni sit esse. Explicabo mollitia quaerat unde, consequuntur est, quod itaque quia reiciendis nulla laudantium eaque tenetur dignissimos voluptates.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt aut numquam provident ipsa, esse accusantium cupiditate iure similique libero rerum repudiandae dolores, beatae ratione autem delectus. Molestias perferendis nam cumque, unde deleniti, nostrum perspiciatis nisi eos minus architecto, sed ipsa quidem rerum quod ad impedit placeat corporis sunt. Necessitatibus corporis magnam expedita culpa error officia eveniet exercitationem tenetur. Repellendus vel pariatur est quibusdam qui? Minima, alias voluptatum. Dolorum aut officiis, tenetur ad unde quasi aperiam totam iure iusto ea. Et ex quod distinctio quos eius quam, maiores nesciunt dolores facere nam. Veniam totam minus, aspernatur porro sit blanditiis magni beatae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aliquid ut, libero, eligendi, esse blanditiis mollitia possimus rem dicta molestias excepturi iure alias ratione expedita architecto commodi vero magni dignissimos! Quibusdam, hic facilis. Nostrum voluptas voluptatem blanditiis aut obcaecati neque quis ex numquam? Corporis fugit vitae molestiae molestias nisi fuga?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt aut numquam provident ipsa, esse accusantium cupiditate iure similique libero rerum repudiandae dolores, beatae ratione autem delectus. Molestias perferendis nam cumque, unde deleniti, nostrum perspiciatis nisi eos minus architecto, sed ipsa quidem rerum quod ad impedit placeat corporis sunt. Necessitatibus corporis magnam expedita culpa error officia eveniet exercitationem tenetur. Repellendus vel pariatur est quibusdam qui? Minima, alias voluptatum. Dolorum aut officiis, tenetur ad unde quasi aperiam totam iure iusto ea. Et ex quod distinctio quos eius quam, maiores nesciunt dolores facere nam. Veniam totam minus, aspernatur porro sit blanditiis magni beatae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aliquid ut, libero, eligendi, esse blanditiis mollitia possimus rem dicta molestias excepturi iure alias ratione expedita architecto commodi vero magni dignissimos! Quibusdam, hic facilis. Nostrum voluptas voluptatem blanditiis aut obcaecati neque quis ex numquam? Corporis fugit vitae molestiae molestias nisi fuga?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde ea saepe magni sit esse. Explicabo mollitia quaerat unde, consequuntur est, quod itaque quia reiciendis nulla laudantium eaque tenetur dignissimos voluptates.</p>
      

    </div>

</body>
</html>